html, body {
	height: 100%;
}

nav, svg {
	width: 100%;
	height: 100%;
}

textarea::-webkit-scrollbar {
	display: none;
}

#header {
	width: 100%;
	height: 10%;
	background-color: #CCFFFF
}

#main {
	width: 100%;
	height: 80%;
}

#editor_main {
	width:100%;
	height: 90%;
	display: flex;
}

#textarea {
	width: 90%;
	height: 99%;
	margin: auto;
}

#editor1 {
	height: 100%;
	width: 80%;
}

#information {
	height: 100%;
	width: 20%;
}

#editor2 {
	height: 10%;
	border: solid;
	border-width: 1px;
	border-color: #E7E8E2;
}

#text_submit {
	position: fixed;
	top: 5px;
	right: 5px;
}

#enter_room {
	position: fixed;
	top: 50px;
	right: 5px;
}

#stand_peer {
	position: fixed;
	top: 75px;
	right: 5px;
}

#connect_peer {
	position: fixed;
	top: 100px;
	right: 5px;
}

#save {
	position: fixed;
	top: 145px;
	right: 5px;
}

#mirror {
	position: fixed;
	top: 170px;
	right: 5px;
}

#roomId {
	position:fixed;
	bottom: 5px;
	right: 5px;
}

#input_roomId {
	border-bottom: solid;
	border-width: 1px;
	resize: none;
}

#info {
	width: 95%;
	height: 90%;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.flexbox {
	width: 100%;
	height: 90%;
	display: flex;
}

.editor {
	width: 100%;
	resize: none;
}

.footer {
	width: 100%;
	height: 10%;
	position: relative;
}

.content {
	display: none;
}

.content:target {
	display: block;
}

.links {
	stroke: #DDDED3
}
